<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>silkRoad2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>res_info</servlet-name>
    <servlet-class>com.cc.controller.ResController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>res_info</servlet-name>
    <url-pattern>/res_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user_info</servlet-name>
    <servlet-class>com.cc.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_info</servlet-name>
    <url-pattern>/user_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news_info</servlet-name>
    <servlet-class>com.cc.controller.resource.NewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news_info</servlet-name>
    <url-pattern>/news_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>patent_info</servlet-name>
    <servlet-class>com.cc.controller.resource.PatentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patent_info</servlet-name>
    <url-pattern>/patent_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>paper_info</servlet-name>
    <servlet-class>com.cc.controller.resource.PaperController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paper_info</servlet-name>
    <url-pattern>/paper_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ebook_info</servlet-name>
    <servlet-class>com.cc.controller.resource.EbookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ebook_info</servlet-name>
    <url-pattern>/ebook_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>conference_info</servlet-name>
    <servlet-class>com.cc.controller.resource.ConferenceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>conference_info</servlet-name>
    <url-pattern>/conf_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>api</servlet-name>
    <servlet-class>com.cc.controller.ApiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>api</servlet-name>
    <url-pattern>/api</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecController</display-name>
    <servlet-name>RecController</servlet-name>
    <servlet-class>com.cc.controller.RecController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecController</servlet-name>
    <url-pattern>/rec_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestECharts</display-name>
    <servlet-name>TestECharts</servlet-name>
    <servlet-class>com.cc.controller.TestECharts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestECharts</servlet-name>
    <url-pattern>/echarts_info</url-pattern>
  </servlet-mapping>
</web-app>